<div class="my-div">
  <form action="/men" method="post">
  <label for="name">Name:</label>
  <input id ="name" type="text" name="name" placeholder="name">
  <label for="age">Age:</label>
  <input id ="age" type="text" name="age" placeholder ="age">
  <label for="color">Color:</label>
  <input id="color" type="text" name="color" placeholder ="color" >
  <input type="submit" value="create post man!">
</form>
</div>
